<div [class.dark-theme]="isDarkTheme" class="homepage mat-app-background">
    <mat-toolbar>
      <span>Expense Tracker</span>
      <span style="flex: auto"></span>
      <mat-slide-toggle [checked] (change)="toggleTheme()">
        Dark theme
      </mat-slide-toggle>
    </mat-toolbar>

  <mat-form-field class="category-form-field">
    <mat-label>Add Category</mat-label>
    <input matInput #catInput type="text" >
    <button mat-button matSuffix mat-icon-button *ngIf="catInput.value" (click)="catInput.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button *ngIf="catInput.value" (click)="catInput.value=''">
    Add
  </button>
    
  <div *ngFor="let category of categories">
    <input type="checkbox"> {{category}}
  </div>
  
  
  <!-- <div class="container">
    <h1 class="text-center">Madlibs</h1>
    <app-listen *ngIf="speech.speechSupported"></app-listen>
  </div> -->
  
  
</div>