<div>
  <h2>Speak to Play</h2>
  <ol>
    <li>Click the <em>"Listen"</em> button below.</li>
    <li>If prompted, grant the app permission to use your device's microphone.</li>
    <li>
      Clearly say a <em>type</em> of word (also known as a "part of speech") followed by <em>one</em> word to fill in the form below. Here are some examples:
    <ul>
        <li><em>"noun <strong>cat</strong>"</em> (person, place, or thing)</li>
        <li><em>"verb <strong>jumping</strong>"</em> (action, present tense), <em>"verb <strong>ran</strong>"</em> (action, past tense)</li>
        <li><em>"adjective <strong>flashy</strong>"</em> (describing word)</li>
      </ul>
    </li>
    <li>Say <em>one command at a time</em>, then wait for the app to assess your speech to fill a madlib field. This could take a few seconds.</li>
    <li>Repeat until all fields are filled in.</li>
  </ol>
  <p>You may also <em>"Stop"</em> listening at any time and enter (or edit) words manually.</p>
  <div>
    <div>
      <button mat-button (click)="speech.startListening()">
          <img class="icon" src="/assets/images/mic-on.png">{{btnLabel}}
      </button>
      <button mat-button (click)="speech.abort()">
          <img class="icon" src="/assets/images/mic-off.png">Stop
      </button>
    </div>
  </div>
  <div *ngIf="errorMsg">
    <div>
      <p>
        {{errorMsg}}
      </p>
    </div>
  </div>
</div>